# 1- Question 
1-read you csv file (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv )

2-print the first 5 rows 

3-print the shape of the data

4- print and data type of each column

In [3]:
import pandas as pd
url="https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv"
df= pd.read_csv(url)

In [8]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
df.shape

(53940, 10)

In [6]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

# 2-Question
1- print carat column

2- Write a Pandas program to create a new 'Quality -color' Column (cut,color)

examble => ( Ideal, E)

In [10]:
df['carat']

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [13]:
df['Quality & Color'] = df['color']+'-'+df['cut']
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality & Color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,E-Ideal
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,E-Premium
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,E-Good
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,I-Premium
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,J-Good

# 3-Question
1-Write a Pandas program to summarize the data.

2- only one column => 'table'

3- only 'float64' columns of the diamonds Dataframe. => include=['...']

In [15]:
df.describe

<bound method NDFrame.describe of        carat        cut color clarity  depth  table  price     x     y     z  \
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

      Quality & Color
0             E-Ideal
1           E-Premium
2              E-Good
3           I-Premium
4              J-Good
...               ...
53935         D-Ideal
53936          D-Good
53937     D-Very Good
53938       H-Premium
53939         D-Ideal

[53940 rows x 11 columns]>

# 4-Question
Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5. (x,y,z)

In [18]:
df[(df.x>5)&(df.y>5)&(df.z>5)]

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality & Color
11778,1.83,Fair,J,I1,70.0,58.0,5083,7.34,7.28,5.12,J-Fair
13002,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36,J-Fair
13118,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23,J-Fair
13562,1.96,Fair,F,I1,66.6,60.0,5554,7.59,7.56,5.04,F-Fair
13757,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36,J-Fair
...,...,...,...,...,...,...,...,...,...,...,...
27748,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04,G-Very Good
27749,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16,I-Premium
48410,0.51,Very Good,E,VS1,61.8,54.7,1970,5.12,5.15,31.80,E-Very Good
49189,0.51,Ideal,E,VS1,61.8,55.0,2075,5.15,31.80,5.12,E-Ideal
49905,0.50,Very Good,G,VVS1,63.7,58.0,2180,5.01,5.04,5.06,G-Very Good

# 5-Question
1- rename one col

2- rename two col togeather

3- rename all col togeather

In [20]:
df.rename(columns={'cut':'Cut'})

,carat,Cut,color,clarity,depth,table,price,x,y,z,Quality & Color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,E-Ideal
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,E-Premium
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,E-Good
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,I-Premium
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,J-Good
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,D-Ideal
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,D-Good
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,D-Very Good
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,H-Premium
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,D-Ideal

# 6-Question
Write a Pandas program to find the diamonds that are either Good or Very Good.

In [28]:
df[(df.cut =='Good')|(df.cut =='Very Good')]

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality & Color
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,E-Good
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,J-Good
5,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,J-Very Good
6,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,I-Very Good
7,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,H-Very Good
...,...,...,...,...,...,...,...,...,...,...,...
53927,0.79,Good,F,SI1,58.1,59.0,2756,6.06,6.13,3.54,F-Good
53932,0.70,Very Good,E,VS2,60.5,59.0,2757,5.71,5.76,3.47,E-Very Good
53933,0.70,Very Good,E,VS2,61.2,59.0,2757,5.69,5.72,3.49,E-Very Good
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,D-Good
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,D-Very Good

# 7-Question
1-print the name of all the columns

2- Mean of each column

3-Mean of each row of diamonds DataFrame:

In [33]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z', 'Quality & Color'],
      dtype='object')

In [34]:
df.mean()

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_6844\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

carat       0.797940
depth      61.749405
table      57.457184
price    3932.799722
x           5.731157
y           5.734526
z           3.538734
dtype: float64

In [37]:
df['mean']=df.mean(axis=1)
df.head()

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_6844\973110304.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['mean']=df.mean(axis=1)

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality & Color,mean
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,E-Ideal,64.727143
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,E-Premium,65.292857
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,E-Good,65.651429
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,I-Premium,66.535714
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,J-Good,66.864286

# 8-Question
1- mean of 'price' column only

2- Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

3-Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

4- count how many times each value in cut series of diamonds DataFrame occurs. value_counts()

In [39]:
df['price'].mean()

3932.799721913237

In [60]:
df.groupby('cut')['price'].mean()

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

In [64]:
df['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

# 9-Question
Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [72]:
df.isnull().sum()

carat              0
cut                0
color              0
clarity            0
depth              0
table              0
price              0
x                  0
y                  0
z                  0
Quality & Color    0
mean               0
dtype: int64